@import "https://fonts.googleapis.com/css?family=Syne";
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid green; */
  }
  
  .title {
    margin-top: 50px;
    font-family: 'Syne';
    font-style: normal;
    font-weight:700;
    font-size: 59px;
    line-height: 80px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
  }
  .subtitle {
    font-family: 'Syne';
    color: #FFFFFF;
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    text-align: center;
    /* m: 50px; */
  }
  
  .card-group {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    /* justify-content: space-between;   */
  }
  
  .card-home {
    background: rgba(53, 53, 53, 0.35);
border-radius: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    width: calc(50% - 10px);
    height: 400px;
    margin: 5px;
  }
  
  .card-home img {
    background: linear-gradient(270deg, #1E7A76 0%, #A6CACA 100%);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .details {
    padding: 10px;
    height: 50%;
  }
  
  h3 {
    font-family: 'Syne';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: #FFFFFF;
    margin: 0;
  }
  
  .price {
    font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */

letter-spacing: -0.04em;

color: #FFFFFF;
    margin: 10px 0 0 0;
  }
  
  @media screen and (min-width: 576px) {
    .card-home {
      width: calc(33.33% - 10px);
    }
  }
  
  @media screen and (min-width: 768px) {
    .card-home {
      width: calc(25% - 10px);
    }
  }
  